/*---------------- 
   nav bar style 
   -----------------*/
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 500px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 30px;
}




.link-button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;


}



/* -----------------------
      grid layout styles 
      -----------------------*/

td {
    border: 1px solid black;
    font-size: large;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

/*-----------------
button styles
-------------------*/
.button-group {
    text-decoration: none;
    background-color: black;
    width: 15%;
    height: 30%;
    align-items: center;
    margin-top: 10px;

}

.orange-button {
    background-color: #DD0000;
}

/*-----------------
       grid styles 
       -----------------*/
.all-groups {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    align-items: center;

    padding: 30px;


    width: 70%;
}

.matches {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;

}

.flags {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.flags img {
    width: 10%;
}

.matches img {
    width: 60%;


}

.match-groups {
    display: flex;
    box-shadow: 40px;
    justify-content: center;

}

.tab-button {
    border: 1px solid black;
    text-decoration: none;
    background-color: #DD0000;
    padding: 20px;
    color: #E8E8E8;
    font-size: larger;
    display: none;
}

/*----------------------
    footer styles 
    ------------------*/
footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 300px;
    font-size: large;
    justify-content: center;
    text-align: center;




}

#footer-menu a {
    text-decoration: none;
    color: azure;
    padding: 15px;


}

#social-links a {
    padding: 10px;
    color: #E8E8E8;
}



/* -----------------------------
     media query for mobiles
-----------------------------*/
@media only screen and (max-width:688px) {

    .nav-bar {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    .first-img {
        width: 100%;
    }

    .match-groups {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .button-group {
        width: 100%;
        margin-left: 25px;
        background-color: white;

    }

    .all-groups {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    footer {
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    #footer-menu {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);

    }

    #social-links {
        background-color: black;
    }

}

/* media query for tabs */

@media only screen and (min-width:689px) and(max-width:1024px) {
    .button-group {
        display: flex;
        flex-direction: row;

        width: 100%;
        background-color: antiquewhite;
        visibility: visible;

    }
}

.all-groups {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}