/* nav bar style */
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 500px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 30px;

}



.link-button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;


}

/* grid layout styles */

td {
    border: 1px solid black;
    font-size: large;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.button-group {
    background-color: black;
    width: 15%;
    align-items: center;
}

.orange-button {
    background-color: #DD0000;
}