/* nav bar style */
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 500px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;

}



.link-button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;


}

/* grid layout styles */